.react-logo{
    min-height: 400px;
}
.select-background{
    font-size: 25px;
    font-weight: bold
}
.color {
    margin-top: 47px;
}
.color button {
    color: #fff;
}
.dot {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;
    margin: 7px;
}
.color-shades{
    height: 40px;
    margin-bottom: 11px;
}